<!-- naviagtion.ejs -->
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/gato">Gato</a></li>
    </ul>
</nav>
<!--/navigation -->